#title {
    background-color: #181818;
    color: white;
  }




.bg{
    background: #181818;
}

span {
    color: #FFDE00;
  }
  
  .navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
  }
  
  .bg2{
    background-color: #000;
  }

 
  
  
  
  .nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.link{
    text-decoration: none;
    color:black;
}

.nav-item {
  padding: 0 10px;
}

.zoom {

    transition: transform .2s; /* Animation */
    
  }
  
  .zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
                   /* ------------------------------------------footer------------------------------------ */
  #footer {
    padding: 3% 15% 7%;
    background-color: #181818;
    color: aliceblue;
  }
  
  .social {
    margin: 20px 10px;
  }

  .zoom1 {

    transition: transform .2s; /* Animation */
    
  }
  
  .zoom1:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .zoom2 {

    transition: transform .2s; /* Animation */
    
  }
  
  .zoom2:hover {
    transform: scale(1.50); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    color: #F1C40F;
  }

  /* SHIFT */
nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #91640F;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  border-radius: 50px;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 70%;
}